@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'src/sass/base/variables';
@import 'src/sass/base/mixins';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: #000;
}


@import 'src/sass/blocks/promo';
@import 'src/sass/blocks/title';
@import 'src/sass/blocks/buttons';
@import 'src/sass/blocks/sidepanel';
@import 'src/sass/blocks/information';
@import 'src/sass/blocks/menu';
@import 'src/sass/blocks/resume';
@import 'src/sass/blocks/hamburger';