.promo {
    min-height: 100vh;
   /*  position: relative; */
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    background-attachment: fixed;
    padding-top: 205px;

    &__title {
        width: 535px;
        margin-top: 10px;
    }

    &__subtitle {
        position: relative;
        padding-left: 14px;
        z-index: 2;
        span {
            color: #000000ed;
        }
        @include before_circle;
    }

    &__btns {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 310px;
    }

    &__link {
        color: $main-color;
        font-size: 14px;
        font-weight: 700;
    }
}